footer {
    position: absolute;
    background-color: aquamarine;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    width: 100%;
    height: 5rem;
    bottom: 0;
  }

  footer > div{
    padding: 1.5rem;
  }